<h1>ブログの詳細</h1>

<%= link_to "一覧", blogs_path %>

<table>
  <tbody>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
    </tr>
    <tr>
      <td><%= @blog.title %></td>
      <td><%= @blog.content %></td>
    </tr>
  </tbody>
</table>

<%= link_to "編集", edit_blog_path %>